 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(2,41,71,0.55), rgba(2,41,71,0.55)), url("images/CopyofDIgitalNextWebsite.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 919px;
}

.u-section-1 .u-image-1 {
  width: 474px;
  height: 237px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 315px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: -45px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 60px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 104px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -37px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 47px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -28px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 36px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -51px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-1 .u-image-1 {
    height: 170px;
    margin-top: 69px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -28px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 26px;
  }
}